/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Appointment Section */
.appointment-section {
    display: flex;
    justify-content: center;
    
    align-items: center;
    height: 170vh;
    background: linear-gradient(to right, #3498db, #9b59b6);
}

.appointment-container {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

select, input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.reset-btn {
    background-color: #e74c3c;
    color: white;
    transition: background-color 0.3s ease;
}

.reset-btn:hover {
    background-color: #c0392b;
}

/* Responsive Design */
@media (max-width: 600px) {
    .appointment-container {
        width: 90%;
    }
}
